h1 {
  font-size: 25pt;
  color: green;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 20pt;
  color: aqua;
  font-weight: bold;
}
table {
  width:100%;
  border-collapse:collapse;
}
td {
  border: 2px solid;
  font-size: 14pt;
  text-align: center;
  padding-bottom:5px;
  padding-top:5px;
}
.tieude {
  color: red;
  font-size: 15pt;
  top-margin: 6pt;
}
.noidung {
  color: black
  font-size: 15pt
  top-margin: 6pt
}
html,body {
  height: 100%;
}
.container{
    display:flex;
    flex-direction: column;
    height: 100%;
}
.header:{
   flex: 15%;
   backcground-color: url("IMG_20260306_133655.jpg") center /100%
} 
.menu:{
   flex: 5%;
   background-color: darkgray;
   color: white;
   display: flex;
}
.menu a:{
   padding: 15px, 20px;
}
.menu hover:{
   background-color: darkgray;
   color: black
}
.content:{
   flex: 70%;
   backgroundcolor: white;
.footer:{
   flex: 10%;
   background-color: lightgray
}
.content iframe {
   flex: 1;
   border: none ;
   width: 100%;
   height: 100%;
}
