<html>
<head>
  <meta charset="UTF-8">
  <style>
    h1 {color:red; text-align:center;}
  </style>
</head>
<body>
  <h1>GIỚI THIỆU NGHỀ NGHIỆP</h1>
  <ul style="list-style-type:circle">
    <li style="color:red;font-weight:bold;">Nghề nghiệp mong muốn:</li>
     Nhà thiết kế thời trang 
    <li style="color:red;font-weight:bold;">Giới thiệu nghề nghiệp:</li>
    Thiết kế thời trang không chỉ đơn thuần là việc cắt may hay lắp ghép những mảnh vải, mà là hành trình thổi hồn vào những chất liệu vô tri. <br>
    Đó là nghệ thuật kể chuyện thông qua những đường cắt cúp tinh tế, những mảng màu đối lập và sự thấu hiểu sâu sắc về hình thể con người. <br>
    Một nhà thiết kế tài năng giống như một phù thủy của thị giác: họ quan sát thế giới, chắt lọc những rung động từ thiên nhiên, kiến trúc hay lịch sử, rồi chuyển hóa chúng thành những "tác phẩm điêu khắc di động". <br>
    Ở đó, mỗi bộ trang phục không chỉ để mặc, mà còn là một tuyên ngôn về phong cách, một tấm gương phản chiếu bản sắc cá nhân và là cầu nối giữa giấc mơ nghệ thuật xa hoa với nhịp thở hối hả của cuộc sống thường nhật. <br>
    <li style="color:red;font-weight:bold;">Lí do:</li>
    Tôi tin rằng thời trang có một sức mạnh kỳ diệu: nó có thể vỗ về một trái tim đang tổn thương, tiếp thêm sự kiêu hãnh cho một người đang rụt rè và giúp chúng ta định nghĩa bản thân mà không cần đến một lời nói. <br>
    Đứng trước một tấm vải trắng, tôi không thấy những rào cản, tôi thấy những khả năng vô tận. <br>
    Tôi khao khát được là người dệt nên sự tự tin cho phái đẹp, tạo ra những bộ giáp hiện đại để họ đương đầu với thế giới, hay đơn giản là mang lại một nụ cười rạng rỡ khi ai đó soi mình trong gương và thốt lên: "Mình thật tuyệt vời". <br>
  </ul>
</body>
</html>
